<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/scrollToTop.css">

  <h1 class="text-center mb-2 mb-md-4 fw-bold text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-eyeglasses mb-2" viewBox="0 0 16 16">
    <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
  </svg> 景點一覽 <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" class="bi bi-eyeglasses mb-2" viewBox="0 0 16 16">
    <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
  </svg></h1>

  <%- include('../partials/paginate') %>
  <div class="d-flex flex-wrap justify-content-evenly d-grid gap-md-5 gap-3" id="index">
      <% for (let farm of farms.docs) { %>
        <div class="card text-bg-white text-center shadow">
          <a href="/farms/<%= farm._id %>" class="text-decoration-none text-dark d-block">
            <div class="card-img-top rounded border border-five"
              style="background-size: cover; height: 12rem; background-image: url('<%= farm.image %>'); background-position: center;">
            </div>
            <div class="card-body d-flex flex-column justify-content-between" id="check">
              <h5 class="card-title mb-2"><strong>
                  <%= farm.title %>
                </strong></h5>
              <p class="card-text text-muted mb-2">
                <%= farm.location %>
              </p>
              <a href="/farms/<%= farm._id %>" class="btn btn-success opacity-75 fw-bold shadow-sm d-block">查看詳情</a>
            </div>
          </a>
        </div>
      <% } %>
    </div>
    <%- include('../partials/paginate') %>

<button onclick="scrollToTop()" class="btn" id="scrollToTop">TOP</button>

<script src="/js/scrollToTop.js"></script>