<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/css/star.css">
    <link rel="stylesheet" href="/css/showMap.css">
    <link rel="stylesheet" href="/css/scrollToTop.css">


    <a class="btn btn-secondary opacity-75 d-md-none d-block mb-3" href="/farms">&larr;返回</a>

    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <img class="card-img-top"
                    style="background-size: cover; background-position: center ;height: 24rem; background-image: url('<%= farm.image %>')"
                    alt="">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-four fs-4">
                        <strong>
                            <%= farm.title %>
                        </strong>
                    </li>
                    <li class="list-group-item list-group-item-four">
                        <img id="img" src="/location.png" alt="">&nbsp;
                        地址：<%= farm.address %>
                    </li>

                    <% if (farm.website) { %>
                        <li class="list-group-item list-group-item-four">
                            <img id="img" src="/earth.png" alt="">&nbsp;
                            網站：<a href="<%= farm.website %>" target="_blank">
                                <%= farm.website %>
                            </a>
                        </li>
                        <% } %>

                            <% if (farm.tel) { %>
                                <li class="list-group-item list-group-item-four">
                                    <img id="img" src="/phone.png" alt="">&nbsp;
                                    電話：<%= farm.tel %>
                                </li>
                                <% } %>
                                    <% if (farm.openHours) { %>
                                        <li class="list-group-item list-group-item-four ">
                                            <img id="img" src="/door.png" alt="">&nbsp;
                                            開放時間：<%= farm.openHours %>
                                        </li>
                                        <% } %>

                                            <li class="list-group-item list-group-item-four flex-column">
                                                <div>
                                                    <img id="img" src="/card.png" alt="">&nbsp;
                                                    信用卡：<%= farm.creditCard===true ? 'Ｏ' :'Ｘ' %>
                                                </div>
                                                <div>
                                                    <img id="img" src="/card.png" alt="">&nbsp;
                                                    國旅卡：<%= farm.travelCard===true ? 'Ｏ' :'Ｘ' %>
                                                </div>
                                            </li>
                                            <li
                                                class="list-group-item list-group-item-four  d-flex justify-content-between align-items-center">
                                                <div>
                                                    <img id="img" src="/user.png" alt="">&nbsp;
                                                    <span>管理者：<%= farm.author.username %></span>
                                                    <% if (currentUser && farm.author.equals(currentUser._id)) { %>
                                                </div>
                                                        <div>
                                                        <a class="btn btn-success opacity-75 btn-sm"
                                                            href="/farms/<%=farm._id%>/edit">編輯</a>
                                                        <form class="d-inline ms-2"
                                                            action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
                                                            <button class="btn btn-danger opacity-75 btn-sm">刪除</button>
                                                        </form>
                                                    </div>
                                                    <% } %>
                                            </li>
                </ul>
            </section>
        </div>
        <div class="col-md-6 d-flex flex-column <%= (currentUser)? 'justify-content-between':'' %>">
            <div id='map' class="rounded border border-five mb-2 show"></div>
            <% if (currentUser) { %>
                <form action="/farms/<%=farm._id%>/reviews" class="rounded bg-five bg-opacity-25 p-3" method="POST">
                    <h3 class="text-secondary text-center"><strong>留下評論</strong></h3>
                    <hr>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                            aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                    <div>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required
                            placeholder="輸入評論......"></textarea>
                        <label class="form-label text-secondary" for="body"></label>
                    </div>
                    <button class="btn btn-success opacity-75">送出</button>
                </form>
                <% } else { %>
                    <div class="rounded bg-five bg-opacity-25 p-3 text-center my-auto" id="login">
                        <h3 class="mt-4 text-secondary fw-bold mb-3">若欲留言，請先登入</h3>
                        <a href="/login" class="btn btn-success opacity-75 fw-bold mb-4">登入</a>
                    </div>
                    <% } %>
        </div>
    </div>

    <!-- 景點介紹 -->
    <div class="rounded bg-two bg-opacity-75 p-3 mt-3 shadow-sm">
        <h3 class="py-2">景點介紹</h3>
        <hr>
        <p class="py-2">
            <%- farm.description %>
        </p>
    </div>

    <!-- 評論 -->
    <div class="d-flex flex-wrap d-grid gap-3 mb-3">
        <% for (let review of farm.reviews) { %>
            <div class="card mt-3 bg-light bg-opacity-25">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="starability-result" data-rating="<%= review.rating %>">
                        </p>
                        <% if (currentUser && review.author.equals(currentUser._id)) { %>
                            <form action="/farms/<%=farm._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger opacity-75 ms-2">刪除</button>
                            </form>
                            <% } %>
                    </div>
                    <span class="card-title fw-bold">
                        <%= review.author.username %>：
                    </span>
                    <span class="card-text">
                        <%= review.body %>
                    </span>
                </div>
            </div>
        <% } %>
    </div>


    <a class="btn btn-secondary opacity-75 d-md-inline d-block mt-3" href="/farms">&larr;返回</a>
    

    <button onclick="scrollToTop()" class="btn" id="scrollToTop">TOP</button>
</div>    
    <script>
        const farm = <%- JSON.stringify(farm) %>
    </script>

    <script src="/js/showMap.js"></script>
    <script src="/js/scrollToTop.js"></script>